* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  align-items: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
  object-fit: cover;
  height: 100%;
  width: max-content;
}

audio {
  z-index: -1;
  visibility: hidden;
}

@media only screen and (max-width: 700px) {
  video {
    width: 100%;
  }
}
